@font-face{
	font-family: Trajan Pro;
	src:url(image/Trajan_Pro_Regular.ttf);
	font-weight: normal;
}

@font-face{
	font-family: Trajan Pro;
	src:url(image/Trajan_Pro_Bold.ttf);
	font-weight: bold;
}


#homeheader{
	background-image: url(image/background2.jpg);
	background-color: #FB8E27;
	background-position-x:center;
	background-position-y:top;
	background-repeat: no-repeat;
	height: 581px;
	width: auto;
}

.mainlogo{
	width: 100%;
	height: 180px;
	margin:0 auto; 
	text-align: center;
}

#logo{
	margin: 0 auto;
	padding-top:40px;
	width: 288px;
	height: auto;
	display: block;
}


.nav{
	color: #fff;
	position: inherit;
	margin-left: 700px;
	margin-top:-44px; 
	font-family: Trajan Pro;
	font-weight: bold;
	font-size: 14px;
}

ul{
	list-style: none;
}

ul li{
	color: white;
}

#arrow{
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle;
}

#slideshow{
  margin: 0 auto;
  position: relative;
  width: 900px;
  height: 460px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  background-color: #D79D62;
}

#slideshow > div {
  position: absolute;
  border:3px solid #fff;
}

#guide{
	width: 800px;
	height: 100px;
	margin:150px auto 100px;
}

#guide > div{
	width: 33.3%;
	float: left;
	text-align: center;
}

#intro{
	width: 700px;
	text-align: center;
	margin: 0 auto;
}

h1{
	font-family: Trajan Pro;
	font-weight: bold;
	font-size: 34px;
	color: #DC8320;
	-webkit-font-smoothing:antialiased;
}

.p1{
	font-family: Palatino;
	font-size: 17px;
	line-height: 32px;
	font-weight: 300;
	color: #000;
	letter-spacing: 1px;
	-webkit-font-smoothing:antialiased;
}

.link1{
	font-family: Palatino;
	font-size: 17px;
	text-transform: uppercase;
	color: #DC8320;
}

.link1:hover{
	text-decoration: underline;
}

a{
	text-decoration: none;
}

/*.musicbox{
	width: 80%;
	margin: 0 auto;
	display: block;
}*/

#muteicon{
	position: absolute; 
	top: 20px;
	right: 20px;
}

.mid{
	width: 900px;
	height: 500px;
	display: block;
	margin: 0 auto;
}

.books{
	width: 405px;
	float: left;
	margin-top: 100px;
}

.booksbtn{
	background-color: #DC8320;
	border-radius: 30px;
	width: 280px;
	height: 60px;
	text-align: center;
	margin: 30px auto 20px;
	font-family: Trajan Pro;
	color: white;
	font-size: 20px;
	display: block;
	border:0;
}

.exercise{
	width: 405px;
	float: right;
	margin-top: 100px;
}

.booksp{
	font-family: Palatino;
	font-size: 18px;
	color: #DC8320;
	text-align: center;
	font-weight: bold;
}

.gallery{
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
	margin:100px auto 150px;
}

.galleryrow{
	width: 90%;
	max-width:1000px;
	margin:30px auto; 
}

.thumbnail{
	width: 217px;
	cursor: pointer;
	margin:5px;
}

.close{
	position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #DC8320;
    text-decoration: none;
    cursor: pointer;
}

.model{
	display: none;
	position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

#footer{
	width: 100%;
	height: 100px;
	background-image: linear-gradient(to right, #CCE58D, #679C67);
}

#lotus {
    margin-top: -95px;
    margin-right: 15%;
    float: right;
    width: 300px;
}

@media all and (max-width: 576px){
	.nav{
		margin-left: -20px;
		margin-top: 238px;
	}

	#slideshow {
		width: 340px;
		height: 200px;
		margin: 0 auto;
		box-shadow: none;
		background-color: transparent;
	}

	#slideshow > div{
		border:none;
		margin-bottom: 0;
	}

	#slideshow > div > img{
		width: 340px;
		margin: 0 auto;
	}

	#muteicon{
		width: 20px;
		height: 20px;
	}

	#homeheader{
		height: 450px;
	}

	#guide{
		width: 340px;
		margin: 30px auto;
	}

	#guide > div{
		width: 27%;
		margin: 3%;
	}

	#guide > div > img{
		width: 100%;
	}

	#intro{
		width: 90%;
	}

	#intro > h1{
	font-size: 28px;
	}

	.p1{
		line-height: 26px;
	}

	.mid{
		width: 340px;
		height: 900px;
		margin: 0 auto;
	}

	.books, .books > img, .exercise, .exercise > img{
		width: 100%;
	}

	.exercise{
		margin-top: 50px;
	}

	.gallery{
		margin: 50px auto 150px;
	}

	.gallery > h1{
		font-size: 28px;
	}

	.galleryrow > img{
		width: 330px;
	}

}



